body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffcc01;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.gif-titulo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.barra-nav-principal {
    background-color: #8e8200;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-nav-principal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.barra-nav-principal ul li {
    margin: 5px 10px;
}

.barra-nav-principal ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.barra-nav-principal ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.barra-nav-principal ul li a:hover {
    background-color: #385faa;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .barra-nav-principal ul {
        flex-direction: column;
        align-items: center;
    }

    .barra-nav-principal ul li {
        margin: 5px 0;
    }
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.accompanying-pokemons h2,
.trainer-teams h2 {
    margin-top: 0;
    color: #ffcb05;
    text-align: center;
    text-shadow: 1px 1px 2px #2a75bb;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Agregado padding interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejor estética */
}

form h3 {
    margin-top: 0;
    color: #ffcb05;
    text-align: center;
    text-shadow: 1px 1px 2px #2a75bb;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background: linear-gradient(145deg, #ffcb05, #ffc107);
    border: none;
    padding: 10px 20px;
    color: #2a75bb;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background: linear-gradient(145deg, #ffc107, #ffcb05);
    transform: translateY(-2px);
}

form button:active {
    background: linear-gradient(145deg, #ffca28, #ffb300);
    transform: translateY(2px);
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-container .pokemon-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: transform 0.3s;
}

.accompanying-pokemons,
.trainer-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
    max-width: 700px;
}

.trainer-team {
    width: 100%;
    margin-bottom: 20px;
}

#pokedex, #accompanying-pokemons {
    display: none;
}

@keyframes movePokemon {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.pokemon-card:hover img {
    animation: movePokemon 0.5s infinite;
}

.pokemon-card {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

.pokemon-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.pokemon-card button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.pokemon-card button:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas de menos de 480px (celulares) */
@media (max-width: 480px) {
    .barra-nav-principal ul {
        flex-direction: column;
        align-items: center;
    }

    .barra-nav-principal ul li {
        margin: 5px 0;
    }

    form {
        width: 90%;
        max-width: 100%;
        padding: 10px;
        border-radius: 10px;
    }

    form input[type="text"],
    form select {
        padding: 8px;
        margin: 8px 0;
    }

    form button {
        padding: 8px 16px;
    }

    .accompanying-pokemons,
    .trainer-teams {
        width: 100%;
        margin: 10px 0;
    }

    .pokemon-card {
        width: 100%;
        max-width: 180px;
        margin: 5px;
    }
}