body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcb05;
    padding: 20px;
    text-align: center;
    position: relative;
}

header button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.pokedex, .accompanying-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.pokemon-card {
    position: relative;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

.pokemon-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.pokemon-card button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.pokemon-card button:hover {
    background-color: #0056b3;
}

/* Estilos para la barra lateral */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar h2{
 text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #f1f1f1;
}

.sidebar ul li.category span {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Estilos para tipos de Pokémon */
.pokemon-type-normal { background-color: #A8A878; }
.pokemon-type-fire { background-color: #F08030; }
.pokemon-type-water { background-color: #6890F0; }
.pokemon-type-electric { background-color: #F8D030; }
.pokemon-type-grass { background-color: #78C850; }
.pokemon-type-ice { background-color: #98D8D8; }
.pokemon-type-fighting { background-color: #C03028; }
.pokemon-type-poison { background-color: #A040A0; }
.pokemon-type-ground { background-color: #E0C068; }
.pokemon-type-flying { background-color: #A890F0; }
.pokemon-type-psychic { background-color: #F85888; }
.pokemon-type-bug { background-color: #A8B820; }
.pokemon-type-rock { background-color: #B8A038; }
.pokemon-type-ghost { background-color: #705898; }
.pokemon-type-dragon { background-color: #7038F8; }
.pokemon-type-dark { background-color: #705848; }
.pokemon-type-steel { background-color: #B8B8D0; }
.pokemon-type-fairy { background-color: #EE99AC; }

/* Animación de movimiento */
@keyframes movePokemon {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.pokemon-card:hover img {
    animation: movePokemon 0.5s infinite;
}

